.addBtn {
  background-color: bisque;
}
.containerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerDetails img {
  width: 500px;
  margin-top: 50px;
}
.containerDetails p {
  width: 500px;
  margin: 20px;
}
.containerDetails button {
  width: 400px;
  background-color: black;
  height: 50px;
  margin: 20px;
  color: aliceblue;
  border-radius: 40px;
}
.sizePAram {
  width: 200px;
  text-align: center;
  height: 40px;
  margin-top: 10px;
}
